<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<head th:replace="~{layout/plantilla :: head}">
    <title>Snacks | Salchi & Friends</title>
</head>

<body>

<header th:replace="~{layout/plantilla :: header}"></header>

<main class="pagina-inicio py-5">
    <div class="container">

        <section class="hero-prototipo text-center mb-5">
            <h2 class="titulo-seccion">Snacks</h2>
            <p class="subtitulo-seccion">
                Premios y bocaditos deliciosos para consentir a tus mascotas
            </p>
        </section>

        <div class="row g-4 justify-content-center">

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card tarjeta-producto h-100">
                    <div class="contenedor-imagen">
                        <img th:src="@{/img/Snack_para_perros.png}" class="img-producto" alt="Snack 1"/>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <h5 class="titulo-producto">Snack para perro</h5>
                        <p class="descripcion-producto">Crujientes bocaditos por fuera y suaves por dentro, elaborado con manzanas, guisantes, zanahorias y mantequilla de maní. </p>
                        <p class="precio-producto">₡3 500</p>
                        <a th:href="@{/producto/detalle/5}" class="btn btn-vermas mt-auto">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card tarjeta-producto h-100">
                    <div class="contenedor-imagen">
                        <img th:src="@{/img/Snack_dental_perro.png}" class="img-producto" alt="Snack 2"/>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <h5 class="titulo-producto">Snack dental</h5>
                        <p class="descripcion-producto">Delicioso bocadito crujiente perros.</p>
                        <p class="precio-producto">₡4 200</p>
                        <a th:href="@{/producto/detalle/6}" class="btn btn-vermas mt-auto">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card tarjeta-producto h-100">
                    <div class="contenedor-imagen">
                        <img th:src="@{/img/Premios_gato1.png}" class="img-producto" alt="Producto 4"/>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <h5 class="titulo-producto">Premios para gato</h5>
                        <p class="descripcion-producto">Empanada rellena para gato.</p>
                        <p class="precio-producto">₡6 750</p>
                        <a th:href="@{/producto/detalle/4}" class="btn btn-vermas mt-auto">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card tarjeta-producto h-100">
                    <div class="contenedor-imagen">
                        <img th:src="@{/img/Snack_gato_cremoso.png}" class="img-producto" alt="Snack 4"/>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <h5 class="titulo-producto">Snack para gato</h5>
                        <p class="descripcion-producto">Snack cremoso para gato.</p>
                        <p class="precio-producto">₡3 900</p>
                        <a th:href="@{/producto/detalle/8}" class="btn btn-vermas mt-auto">Ver más</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>

<footer th:replace="~{layout/plantilla :: footer}"></footer>

</body>
</html>